{%extends 'base_goods.html'%}
{%block script2%}
<script>

</script>
{%endblock script2%}
 {%block goods%}

	<div class="navbar_con">
		<div class="navbar clearfix">
			<div class="subnav_con fl">
				<h1>全部商品分类</h1>	
				<span></span>			
				<ul class="subnav">
					<li><a href="/goodslist/1_1/" class="fruit">新鲜水果</a></li>
					<li><a href="/goodslist/2_1/" class="seafood">海鲜水产</a></li>
					<li><a href="/goodslist/3_1//" class="meet">猪牛羊肉</a></li>
					<li><a href="/goodslist/4_1/" class="egg">禽类蛋品</a></li>
					<li><a href="/goodslist/5_1/" class="vegetables">新鲜蔬菜</a></li>
					<li><a href="/goodslist/6_1/" class="ice">速冻食品</a></li>
				</ul>
			</div>
			<ul class="navlist fl">
				<li><a href="">首页</a></li>
				<li class="interval">|</li>
				<li><a href="">手机生鲜</a></li>
				<li class="interval">|</li>
				<li><a href="">抽奖</a></li>
			</ul>
		</div>
	</div>

	<div class="breadcrumb">
		<a href="/">全部分类</a>
		<span>></span>
		<a href="/goodslist/{{type.id}}_1/">{{type.ttitle}}</a>
	</div>

	<div class="main_wrap clearfix">
		<div class="l_wrap fl clearfix">
			<div class="new_goods">
				<h3>新品推荐</h3>
				<ul>
					{%for new in newgoods%}
					<li>
						<a href="/goodsinfo/{{new.id}}"><img src="/static/{{new.gpic}}/"></a>
						<h4><a href="/goodsinfo/{{new.id}}">{{new.gtitle}}</a></h4>
						<div class="prize">￥{{new.gprice}}</div>
					</li>
					{%endfor%}
				</ul>
			</div>
		</div>

		<div class="r_wrap fr clearfix">
			<div class="sort_bar">
				<a href="/goodslist/{{type.id}}_1/" class="active">默认</a>

				{%if a == '1'%}
				<a href="?a=2">价格</a>
				{%else%}
				<a href="?a=1">价格</a>
				{%endif%}
				<a href="?a=3">人气</a>
			</div>

			<ul class="goods_type_list clearfix">
				{%for info in pageinfo%}
				<li>
					<a href="/goodsinfo/{{info.id}}"><img src="/static/{{info.gpic}}/"></a>
					<h4><a href="/goodsinfo/{{info.id}}">{{info.gtitle}}</a></h4>
					<div class="operate">
						<span class="prize">￥{{info.gprice}}</span>
						<span class="unit">{{info.gprice}}/{{info.gunit}}</span>
						<a href="#" class="add_goods" title="加入购物车"></a>
					</div>
				</li>
				{%endfor%}

			</ul>

			<div class="pagenation">
				{%if pnum == 1%}
				   <a href="#"><上一页</a>
				    {%else%}
				    <a href="/goodslist/{{type.id}}_{{pnum|add:'-1'}}/?a={{a}}" ><上一页</a>
					{%endif%}

				{%for page in pagelist%}

				    {%if page == pnum %}
				     <a href="/goodslist/{{type.id}}_{{page}}/?a={{a}}" class="active">{{page}}</a>
				    {%else%}
				    <a href="/goodslist/{{type.id}}_{{page}}/?a={{a}}">{{page}}</a>
				     {%endif%}
				{%endfor%}

				{%if len == pnum%}
				<a href="/goodslist/{{type.id}}_{{pnum}}/?a={{a}}">下一页></a>
				{%else%}
				<a href="/goodslist/{{type.id}}_{{pnum|add:'1'}}/?a={{a}}" >下一页></a>
				{%endif%}
			</div>
		</div>
	</div>
{%endblock goods%}